
/* #box h1{
    font-family: 'Book Antiqua', 'Times','Gorgia' serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: serif; */

/* #box h2{
    font-family:'Tiro Devanagari Hindi', serif;;  */
    /* font-family: sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,500;1,700&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap'); */
#box{
    /* font-family: 'Tiro Devanagari Hindi', sans-serif; */
    font-family: fantasy;
    font-weight: 800;
    font-size: 2em;
    font-variant: small-caps;
    text-transform: capitalize;
    text-decoration: line-through
    double 5px lime;
    letter-spacing: 15px;
    background-color: black;
    color: green;
    webkit-
    /* text-decoration: solid underline; */
}